:root {
  --redis-red: #ff4438;
 /* --hyper-09: #8a221c;*/
  --hyper-09: linear-gradient(90deg, var(--primary), var(--primary-light));
}

.styles_button__YDNft {
  display: inline-flex;
  box-shadow: none;
  inset: 0;
  cursor: pointer;
  align-items: flex-end;
  font-size: 14px;
  font-weight: 500;
  transition: 0.2s ease;
  line-height: 150%;
  outline: none;
}

.styles_variant_pill__TyvvY {
  border-radius: 200px;
}

@keyframes styles_small-sparkle__Fog0U {
  0% {
    transform: scale(1);
  }

  25% {
    transform: scale(1.4);
  }

  50% {
    transform: scale(1);
  }

  75% {
    transform: scale(1.4);
  }

  to {
    transform: scale(1);
  }
}

@keyframes styles_big-sparkle__w0G2N {
  0% {
    transform: scale(1);
  }

  25% {
    transform: scale(0.6);
  }

  50% {
    transform: scale(1);
  }

  75% {
    transform: scale(0.6);
  }

  to {
    transform: scale(1);
  }
}

.styles_featuredButton__zj76v {
  position: relative;
  padding: 1px !important;
  border: 0 !important;
  overflow: hidden;
  color: white;
}

[data-theme="midnight"]
  .styles_featuredButton__zj76v
  .styles_featuredButtonContent__DVHK_ {
  background: var(--hyper-09);
}

[data-theme="midnight"]
  .styles_featuredButton__zj76v
  .styles_circleContainer__JKTvt {
  display: block;
}

.styles_featuredButton__zj76v:hover {
    transform: translateY(-3px);
  box-shadow: 0 6px 20px rgba(122, 21, 21, 0.4);
}

.styles_featuredButton__zj76v:hover
  .styles_featuredButtonIcon__qmKlU
  svg
  path:first-child {
  animation: styles_small-sparkle__Fog0U 3.3s ease-in-out infinite;
}

.styles_featuredButton__zj76v:hover
  .styles_featuredButtonIcon__qmKlU
  svg
  path:nth-child(2) {
  animation: styles_big-sparkle__w0G2N 3.3s ease-in-out infinite;
}


.styles_featuredButton__zj76v .styles_path__783Mk {
  position: absolute;
  width: 100%;
  height: 100%;
}

.styles_featuredButton__zj76v .styles_circleContainer__JKTvt {
  display: none;
  position: absolute;
  inset: 0;
}

.styles_featuredButton__zj76v
  .styles_circleContainer__JKTvt
  .styles_circleMover__l86dQ {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
}

.styles_featuredButton__zj76v
  .styles_circleContainer__JKTvt
  .styles_circleMover__l86dQ
  .styles_circle__Ky5nK {
  position: relative;
  width: 60px;
  height: 60px;
  background-image: radial-gradient(var(--redis-red) 40%, transparent 60%);
  transition: opacity 0.2s ease-in-out;
  border-radius: 50%;
}

.styles_featuredButton__zj76v .styles_featuredButtonContent__DVHK_ {
  padding: 5px 16px 5px 14px;
  display: flex;
  align-items: center;
  gap: 6px;
  -webkit-backdrop-filter: blur(24px);
  backdrop-filter: blur(24px);
  border-radius: 200px;
  width: 100%;
  height: 100%;
  transition: background-color 0.4s ease-in-out;
}

@media (max-width: 768px) {
  .styles_featuredButton__zj76v .styles_featuredButtonContent__DVHK_ {
  padding: 5px 10px 5px 8px;
}
.styles_button__YDNft {
  font-size: 12px;
}
}

.styles_featuredButton__zj76v .styles_buttonText__3xbJn,
.styles_featuredButton__zj76v .styles_featuredButtonIconContainer__s1kUE {
  position: relative;
  z-index: 2;
}

.styles_featuredButtonIconContainer__s1kUE {
  padding-bottom: 2px;
}

.styles_featuredButtonIconContainer__s1kUE.styles_theme_midnight__brLAf {
  color:goldenrod;
}

.styles_featuredButtonIcon__qmKlU {
  display: inline-flex;
  vertical-align: middle;
  align-items: center;
  stroke-width: inherit;
  position: relative;
  overflow: hidden;
  width: 16px;
  height: 16px;
}

.styles_featuredButtonIcon__qmKlU svg path {
  transform-origin: center;
  transform-box: fill-box;
}

.styles_featuredButtonIcon__qmKlU svg path:first-child,
.styles_featuredButtonIcon__qmKlU svg path:nth-child(2) {
  transition: 0.2s ease-in-out;
}
