.screenshots {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  border-radius: 10rem;
  overflow: hidden;
}

.screenshots .screenshot {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  width: 100%;
  font-size: 2rem;
  margin-bottom: 5rem;
}

.screenshots .screenshot * {
  position: relative;
  height: 30rem;
  padding: 1.5rem;
}

.screenshots .screenshot u {
  position: inherit;
  height: auto;
  padding: 0;
}

.screenshots .screenshot img {
  position: absolute;
  top: 0;
  filter: drop-shadow(0 0 1rem rgb(18, 22, 34));
}

.screenshots .screenshot .left {
  text-align: right;
  padding-left: 4rem;
}

.screenshots .screenshot .right {
  text-align: left;
  padding-right: 4rem;
}

.screenshots .screenshot .left img {
  right: 0;
}

.screenshots .screenshot .right img {
  left: 0;
}

.screenshots .screenshot:nth-child(odd) .left,
.screenshots .screenshot:nth-child(even) .right {
  flex: 6;
}

.screenshots .screenshot:nth-child(even) .left,
.screenshots .screenshot:nth-child(odd) .right {
  flex: 4;
  height: 25rem;
  padding-top: 5rem;
}

.highlighted-section {
  margin: 1rem -2rem 3rem -2rem;
  padding: 1rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  background: rgba(8, 11, 18, 0.3);
  font-family: var(--boldFont);
}

.highlighted-section p {
  font-size: 1.5rem;
  max-width: 50rem;
  margin: 0.25rem 2rem;
}

.highlighted-section a.button {
  font-size: 1rem;
  height: 2rem;
  padding: 0.5rem 1rem;
  border-radius: 2rem;
  margin: 3rem;
  text-transform: uppercase;
  --buttonColor1: #dee6f0;
  --buttonColor2: #b1c1d7;
  color: #1b2537;
}

.highlighted-section a.button svg {
  width: 1rem;
  height: 1rem;
  margin: 0 0 0 0.5rem;
}

.highlighted-section a.button:hover {
  --buttonColor1: #de9945;
  --buttonColor2: #f8b86a;
  color: white;
}

.tooltip {
  position: relative;
}

.tooltip-text {
  top: 0.25rem;
  left: 0.25rem;
  white-space: nowrap;
  visibility: hidden;
  opacity: 0;
  background-color: rgba(19, 24, 33, 0.75);
  color: #f5f8fa;
  font-size: 0.75rem;
  border-radius: 0.25rem;
  padding: 0.25rem 0.4rem;
  max-width: 7.5rem;
  overflow: hidden;
  text-overflow: ellipsis;
  position: absolute;
  z-index: 100;
  transition: opacity 0.2s ease-out;
}

.tooltip:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}

.label {
  white-space: nowrap;
  background-color: rgba(60, 70, 87, 0.75);
  color: #f5f8fa;
  font-size: 0.95rem;
  border-radius: 0.25rem;
  margin: 0 0.25rem;
  padding: 0.1rem 0.25rem;
}

@media (min-width: 1500px) {
  .screenshots .screenshot * {
    height: 40rem;
  }
}

@media (max-width: 850px) {
  .label {
    font-size: 0.8rem;
  }
}

@media (max-width: 550px) {
  .screenshots .screenshot {
    font-size: 1.5rem;
  }

  .screenshots .screenshot * {
    position: relative;
    height: 30rem;
    padding: 0.5rem;
  }

  .screenshots .screenshot .left {
    margin-left: 1rem;
    padding-left: 1rem;
  }

  .screenshots .screenshot .right {
    margin-right: 1rem;
    padding-right: 1rem;
  }

  .screenshots .screenshot:nth-child(even) .left,
  .screenshots .screenshot:nth-child(odd) .right {
    flex: 6;
  }

  .tooltip-text {
    display: none !important;
  }

  .highlighted-section p {
    font-size: 1.25rem;
  }
}

.new-patch {
  filter: hue-rotate(135deg);
  background-color: rgba(35, 55, 96, 0.4);
}

.new-patch a.button:hover {
  --buttonColor1: #3655a4;
  --buttonColor2: #2256a4;
}

.new-patch a.button:active {
  --buttonColor1: #4266c8;
  --buttonColor2: #436ddf;
  color: white;
  box-shadow: rgba(125, 139, 247, 0.25) 0 0 0.6rem 0.2rem;
}
