code {
  font-size: 0.9em;
  color: #fff;
  word-wrap: break-word;
  border-radius: 5px;
  font-family: 'Courier New', Courier, monospace;
  background: #333;
  display: block;
  padding: 1em;
}

/* Chatbot Icon Styling */
.chatbot-icon {
position: fixed;
bottom: 20px;
right: 20px;
background-color: darkred;
color: white;
border-radius: 50%;
width: 60px;
height: 60px;
display: flex;
align-items: center;
justify-content: center;
cursor: pointer;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
z-index: 1000;
transition: transform 0.3s ease;
}

.chatbot-icon:hover {
transform: scale(1.1);
}

.chatbot-icon i {
font-size: 24px;
}

df-messenger {
--df-messenger-button-titlebar-color: rgb(170, 26, 26);
--df-messenger-chat-background-color: #f9f9f9;
--df-messenger-font-color: #000000;
}