/* FAQ Container */
#faqs {
  width: 100%;
  max-width: 90%;
  margin: 0 auto;
  padding: 20px;
  font-size:medium;
}

/* FAQ Table */
.faq-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

/* Table Header Row */
.header-row {
  background-color: #f9f9f9;
  font-weight: bold;
  border-bottom: 2px solid #ddd;
}

/* Table Header Cells */
th {
  padding: 15px;
  text-align: left;
}

/* Table Row */
.faq-row {
  border-bottom: 1px solid #ddd;
}

/* Table Cells */
.question-cell,
.answer-cell {
  padding: 15px;
  vertical-align: top;
}

/* Question Cell */
.question-cell {
  width: 30%;
  background-color: #f9f9f9;
}

/* Answer Cell */
.answer-cell {
  width: 70%;
  background-color: #fff;
}

/* Hover Effect */
.faq-row:hover {
  background-color: #f1f1f1;
}

.faqs h1 {
  font-size: 6rem;
  font-weight: 800;
}

.faqs h2 {
  text-decoration: underline;
}

.faqs p {
  font-size: 1.8rem;
  font-weight: 400;
}

.faqs h4 span {
  color: rgb(122, 21, 21);
  font-weight: 700;
}

.faqsend {
  padding: 8px 16px;
}

.faqsend i {
  color: #353535;
}

.faqsend img {
  max-width: 20px;
  border-radius: 25%;
}